.page_header_banner {
    position: relative;
}


.page-banner--extrasmall{ min-height: 300px; }
.page-banner--short{ min-height: 237px; }
.page-banner--small { min-height: 400px; }
.page-banner--medium { min-height: 500px; }
.page-banner--large {min-height: 600px; }

.page_header_banner > *:not(.page-banner__wrapper) {
    z-index: 1;
    /* position: relative; */
}

@media (min-width: 768px) {
    .page-banner--short{ min-height: 350px; }
}

.page-banner__wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.page-banner__wrapper picture{
    display: block;
    position: relative;
    height: 100%;
    width:100%;
}

.page-banner__wrapper img {
    position: absolute;
    object-fit: cover;
    object-position: center;
    height: 100%;
    width:100%;
}

.page-banner__wrapper:not(.overlay_disable):after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.page_header_banner .page-banner__wrapper:after {
    opacity: var(--overlay-opacity);
    background: var(--overlay-color);
    mix-blend-mode: var(--mix-blend-mode);
}